name: Build Pull Request
on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: 8
          distribution: temurin
      - name: Build
        run: chmod +x ./gradlew build
      - name: Upload artifacts
        uses: actions/upload-artifact@v2.2.4
        with:
          name: build-artifacts
          path: build/libs
